.product-detail {
  .breadcrumb {
    max-width: 1300px;
    margin: auto;
  }
}
.image-switcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  max-width: 1300px;
  margin: auto;

  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .thumbnail {
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      width: 50px;
      height: 50px;

      &.active {
        border-color: blue;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .main-image {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 537px;
      height: 650px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .product-name {
      font-size: 24px;
      font-weight: bold;
    }

    .original-price {
      text-decoration: line-through;
      color: #999;
    }
    .price {
      display: flex;
      align-items: center;
      gap: 10px;

      .current-price {
        font-size: 25px;
        font-weight: bold;
        color: #333;
      }


      .discount {
        color: #4caf50;
        padding: 5px 10px;
        background: #273bcd;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        border-radius: 8px;
      }
    }

    .color-label,
    .size-label {
      font-weight: normal;

      .selected {
        margin-left: 6px;
      }
    }

    .colors {
      display: flex;
      gap: 10px;

      .color {
        width: 50px;
        height: 30px;
        border: 1px solid #ddd;
        border-radius: 15px;
        cursor: pointer;

        &.active {
          border-color: blue;
        }
      }
    }

    .sizes {
      display: flex;
      gap: 10px;

      .size-tooltip {
        font-weight: 600;
        text-align: center;
        background: white;
        padding: 10px;
        border-radius: 4px;
        font-size: 14px;
        color: black;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      }

      .size-button {
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 16px;
        color: #000;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        transition: all .3s ease-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        width: 90px;

        &.active {
          background-color: #000;
          color: white;
        }


      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 20px;

      .quantity {
        border: 1px solid #000;
        border-radius: 1.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        height: 40px;
        line-height: 23px;
        width: 100px;

        button {
          background: none;
          outline: none;
          border: none;
          padding: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .add-to-cart {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        max-width: 420px;
        width: 100%;
        cursor: pointer;
        border-radius: 1.5rem;
        transition: 0.3s all ease-in-out;

        i {
          margin-right: 6px;
        }
        &:hover {
          background: #ddd;
          color: #000;
        }
      }
    }

    .product-policy {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Chia thành 2 cột bằng nhau
      gap: 20px; // Khoảng cách giữa các item
    
      &__item {
        display: flex;
        align-items: center;
        gap: 10px; // Khoảng cách giữa icon và text
        padding: 5px;
        background-color: #f8f8f8; // Màu nền nhẹ
        border-radius: 8px;
      }
    
      &__img {
        width: 40px;
        height: 40px;
      }
    
      &__title {
        font-size: 14px ;
        font-weight: 500;
      }
    }
    
    // Responsive: Nếu màn hình nhỏ hơn 600px, xếp thành 1 cột
    @media (max-width: 600px) {
      
      .product-policy {
        grid-template-columns: 1fr;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    .image-switcher {
      display: flex;
      flex-direction: column; // Chuyển ảnh xuống dưới trên mobile
      align-items: center;
    }
    .thumbnails{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 20%;
    }
  
    .main-image img {
      width: 370px;
      height: 500px;
    }
  
    .details {
      .product-name {
        font-size: 20px;
      }
  
      .price {
        .current-price {
          font-size: 20px;
        }
      }
  
      .colors .color {
        width: 40px;
        height: 25px;
      }
  
      .sizes {
        flex-wrap: wrap;
        .size-button {
          width: 80px;
        }
      }
  
      .actions {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
      }
  
      .add-to-cart {
        width: 100%;
      }
    }
  }
}