.category-menu {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    user-select: none;
  
    .categories {
      display: flex;
      flex: 2;
      gap: 30px;
  
      .category {
        flex: 1;
  
        .category-title {
          font-weight: bold;
          text-transform: uppercase;
          color: var(--black);
          font-size: 16px;
          margin-bottom: 10px;
          border-bottom: 2px solid black;
          display: inline-block;
        }
  
        .category-list {
          list-style: none;
          padding: 0;
  
          .category-item {
            font-size: 14px;
            display: flex;
            align-items: center;
            color: #333;
            margin: 9px 3px;
            cursor: pointer;

            .subcategory-title{
              font-size: 17px;
            }

            .subcategory-image {
              width: 70px;
              height: 100px;
              margin-right: 10px;
            }
            &:hover {
              text-decoration: underline;
              color: #0066cc;
            }
  
            &.highlight {
              font-weight: bold;
              color: #0066cc;
            }
          }
        }
      }
    }
  }
  