.product-item {
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
    width: 264px;
    scroll-snap-align: center;
    text-align: center;
    user-select: none;

    .image-container {
      position: relative;
  
      .product-image {
        height: 350px;
        width: 100%;
        margin-bottom: 10px;
        transition: transform 0.3s ease; // Hiệu ứng phóng to nhẹ khi hover
      }
  
      .overlay {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        text-align: center;
        padding: 12px;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translate3d(-50%, 20px, 0);
  
        .title-size {
          font-size: 14px;
          font-weight: bold;
        }
  
        .sizes {
          display: flex;
          justify-content: center;
          gap: 8px;
          margin-top: 8px;
  
          .size-button {
            padding: 6px 12px;
            border: 1px solid #ccc;
            background: white;
            border-radius: 6px;
            font-size: 14px;
            cursor: pointer;
            transition: 0.3s;
  
            &:hover {
              background: black;
              color: white;
            }
          }
        }
      }
  
      &:hover {
        .product-image {
          cursor: pointer;
          transform: scale(1.05);
        }
  
        .overlay {
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
    }

    .colors {
      display: flex;
      gap: 10px;

      .color {
        width: 30px;
        height: 20px;
        border: 3px solid #ddd;
        border-radius: 15px;
        cursor: pointer;

        &.active {
          border-color: rgb(255, 0, 0);
        }
      }
    }

    .product-info {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .product-name {
        font-size: 16px;
        font-weight: normal;
        color: #000;
      }

      .product-price {
        margin: 5px 0;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 6px;
        color: #000;

        .old-price {
          text-decoration: line-through;
          color: #999;
          margin-left: 5px;
        }
      }

      .product-discount {
        font-size: 14px;
        color: var(--white);
        background: #0891dc;
        padding: 5px 5px;
        font-weight: bold;
        width: 50px;
        border-radius: 16px;
      }
    }


    @media (max-width: 768px) { // Mobile
      flex: 1 1 189px; // Đặt kích thước co giãn linh hoạt
      width: 189px;

      .image-container {
        .product-image {
          width: 189px;
          height: 252px;
        }
  
        .overlay {
          .sizes {
            .size-button {
              padding: 3px 7px; // Thu nhỏ nút kích cỡ
              font-size: 12px;
            }
          }
        }
      }
  
      .product-info {
        align-items: center;
        .product-name {
          font-size: 14px; // Thu nhỏ font tiêu đề
        }
  
        .product-price {
          font-size: 10px; // Thu nhỏ font giá
          .old-price {
            font-size: 12px; // Thu nhỏ giá cũ
          }
        }
  
        .product-discount {
          font-size: 12px; // Thu nhỏ font giảm giá
          width: 40px; // Giảm kích thước hộp giảm giá
        }
      }
  
      .colors {
        justify-content: center;
        .color {
          width: 20px;
          height: 15px; // Giảm kích thước nút màu
        }
      }
    }
    
  }