.header {
  background: rgb(255, 255, 255);
  color: #2c3e50;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(58, 59, 69, 0.15) 0px 0.15rem 1.75rem 0px ;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  // LEFT SECTION
  &__left {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    .logo-highlight {
      color: #f39c12;
    }
  }

  &__toggle-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #f39c12;
    }
  }

  // CENTER (SEARCH)
  &__center {
    flex-grow: 1;
    max-width: 400px;
  }

  &__search-form {
    display: flex;
    background: rgb(248, 249, 252);
    border-radius: 20px;
    overflow: hidden;

    input {
      flex: 1;
      padding: 8px 12px;
      border: none;
      outline: none;
      background: transparent;
      color: #333;
      font-size: 1rem;

      &::placeholder {
        color: #bbb;
      }
    }

    button {
      background: none;
      border: none;
      color: #333;
      padding: 8px 15px;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #f39c12;
      }
    }
  }

  // RIGHT (USER MENU)
  &__right {
    position: relative;
  }

  &__user-menu {
    position: relative;
  }

  &__user-btn {
    display: flex;
    align-items: center;
    background: #000;
    background: none;
    border: none;
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &__user-name {
      margin-right: 6px;
    }
    &:hover {
      color: #f39c12;
    }
  }

  // Dropdown Menu
  &__user-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background: #ddd;
    color: #333;
    width: 160px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;

    .header__user-menu:hover & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__user-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: #f39c12;
      color: white;
    }
  }

  &__user-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  // RESPONSIVE
  @media (max-width: 768px) {
    &__container {
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }

    &__center {
      width: 100%;
    }
  }
}
