.product-slide {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  max-width: 1400px;
  margin: auto;

  .previous-btn, .next-btn {
    background: none;
  }
  .previous-btn i, .next-btn i{
    font-size: 40px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .product-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none; // Ẩn thanh cuộn
    }
  }

  @media (max-width: 768px) {
    padding: 0;
    .product-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Hiển thị 2 sản phẩm mỗi hàng
      gap: 10px;
    }

    .previous-btn i
    {
      font-size: 20px;
      margin: 0 10px;
      top: 50%;
      right: calc(100% - 2.275rem);
      position: absolute;
    } 
    .next-btn i{
      font-size: 20px;
      margin: 0 10px;
      top: 50%;
      left: calc(100% - 2.275rem);
      position: absolute;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
}